{% extends "account/base.html" %}

{% load i18n bootstrap4 staticfiles %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body_class %}register-page{% endblock body_class %}

{% block content %}
<div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
                    <div id="square7" class="square square-7" style="transform: perspective(500px) rotateY(12.58deg) rotateX(-4.54deg);"></div>
                    <div id="square8" class="square square-8" style="transform: perspective(500px) rotateY(12.58deg) rotateX(-4.54deg);"></div>

                    {% if messages %}
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <div class="card card-register">
                        <div class="card-header">
                            <img class="card-img" src="{% static 'vendor/blk/img/square1.png' %}" alt="Card image">
                            <h4 class="card-title">&nbsp;{% trans "Change" %} </h4>
                        </div><br>
                        <p class="text-center">
                            {% blocktrans %}Change your current password by using the form below{% endblocktrans %}
                        </p>
                        <div class="card-body">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger" role="alert"> {{ error|striptags }}
                                </div>
                                {% endfor %}
                            {% endif %}
                            <form class="password_reset" id="password_reset_form" method="post" action="{% url 'account_change_password' %}">
                                {% csrf_token %}

                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}

                                {% if form.errors.oldpassword %}
                                    <div class="alert alert-danger" role="alert"> {{ form.errors.oldpassword|striptags }}
                                    </div>
                                {% endif %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>
                                    <input type="password" name="oldpassword" class="form-control" placeholder="Current Password">
                                </div>

                                {% if form.errors.password1 %}
                                    <div class="alert alert-danger" role="alert"> {{ form.errors.password1|striptags }}
                                    </div>
                                {% endif %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>
                                    <input type="password" name="password1" class="form-control" placeholder="New Password">
                                </div>

                                {% if form.errors.password2 %}
                                    <div class="alert alert-danger" role="alert"> {{ form.errors.password2|striptags }}
                                    </div>
                                {% endif %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"></i>
                                        </div>
                                    </div>
                                    <input type="password" name="password2" class="form-control" placeholder="New Password (again)">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-info btn-round btn-lg" type="submit">{% trans "Change Password" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="register-bg"></div>
                <div id="square1" class="square square-1"></div>
                <div id="square2" class="square square-2"></div>
                <div id="square3" class="square square-3"></div>
                <div id="square4" class="square square-4"></div>
                <div id="square5" class="square square-5"></div>
                <div id="square6" class="square square-6"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
