{% extends "account/base.html" %}

{% load i18n bootstrap4 staticfiles %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block body_class %}register-page{% endblock body_class %}

{% block content %}
<div class="page-header">
    <div class="page-header-image"></div>
    <div class="content-center">
        <h1>{% trans "Your password is now changed." %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}
